.flex-container {
  display: flex;
  border: 3px solid #0275d8;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  margin: 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.flex-child {
  display: flex 1;
  padding: 20px;
  margin: 20px;
}

.flex-child button {
  margin: 8px;
  padding: 5px;
}

.flex-child-table {
  width: 80%;
  text-align: center;
  margin-bottom: 60px;
}

.break hr {
  width: 90%;
}

.flex-child-active {
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border: 3px solid rgb(7, 162, 7);
  background-color: rgba(7, 133, 7, 0.8);
  padding: 100px;
  align-items: flex-start;
}

.flex-child-blocked {
  color: #ffffff;
  width: 40%;
  border: 3px solid rgba(178, 34, 34, 0.1);
  border-radius: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: rgba(217, 83, 79);
  padding: 5%;
  text-align: center;
}

.align-left {
  text-align: left;
  padding-top: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.apply-changes-button {
  margin-bottom: 10%;
  text-align: center;
}

.text-red {
  color: red;
}

.delete-user {
  margin-top: 100px;
  padding: 60px;
  padding-left: 100px;
  padding-right: 100px;
  border: solid 5px red;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.danger-zone-text {
  margin-bottom: 50px;
}

.save {
  text-decoration: none;
  color: #ffffff;
}

.save:hover {
  text-decoration: none;
  color: #ffffff;
}
