body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 20px;
}

.admin-container {
  padding-top: 40px;
}

.not-found {
  padding-top: 100px;
  padding-left: 100px;
}

.topnav {
  overflow: hidden;
  width: 100%;
  background-color: #0275d8;
  height: 75px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  position: relative;
}

.topnav ul {
  margin-left: 40px;
}

.topnav li {
  float: left;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 27px;
  list-style: none;
}

.topnav a {
  color: #c4c4c4;
}

.topnav a:hover {
  text-decoration: none;
  color: rgb(218, 218, 218);
}

.topnav button {
  font-size: 17px;
}

.current-path {
  color: #ffffff;
}

.admin-main {
  font-size: 30px;
}

.admin-main ul {
  list-style-type: square;
}
.admin-main li {
  padding-top: 10px;
}

.admin-main a {
  text-decoration: none;
}

.logout {
  position: absolute;
  color: #ffffff;
  right: 60px;
}

.user-table {
  margin-top: 20px;
  font-size: 20px;
}

.user-blocked {
  color: red;
}

.user-active {
  color: green;
}

.manage-users {
  margin-bottom: 50px;
}

.manage-users span {
  font-size: 20px;
  margin-right: 120px;
}

.go-back {
  /* Green */
  border: solid 2px #0275d8;
  border-radius: 20px;
  color: #0275d8;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
.go-back:hover {
  background-color: rgb(238, 238, 238);
}

.go-back a:hover {
  text-decoration: none;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  border: white 3px solid;
  list-style: none;
  width: 100%;
  text-align: left;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
}

.sidebar-option {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

#sidebar-top {
  margin-top: 50px;
}


.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
}

.user-data-home {
  margin-top: 30px;
  font-size: 17px;
}

.user-data {
  margin-left: 30px;
  font-weight: bold;
}


.form-input-pw-reset {
  width: 20%;
}

.pw-reset-submit {
  margin-bottom: 230px;
}

.home-page-pw-rst {
  margin-top: 30px;
}

.error-label-pw-reset {
  width: 35%;
}

.sensor-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.graph {
  margin-bottom: 100px;
}


.data-table-sensors {
  margin-bottom: 120px;
  width: 70%;
}