.farm-container {
  margin-top: 20px;
  margin-left: 40px;
}
.farm-flex {
  display: flex;
  flex-direction: column;
  border: black 3px solid;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1%;
  align-self: center;
  margin-bottom: 30px;
}

.inner-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-self: center;
  cursor: pointer;
}

.inner-row-heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-self: center;
  margin: 10px;
  margin-bottom: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 5px;
  border: 2px solid #0275d8;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 1);
  padding: 5px;
}

.inner-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 5px;
  border: 2px solid #0275d8;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.heading-column {
  flex-basis: 100%;
  flex: 1;
  margin: 5px;
  padding: 5px;
}

.farm-heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  background-color: #0275d8;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.5);
  justify-content: center;
}

.farm-heading:hover {
  background-color: #0257a2;
}

.general-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1%;
  align-self: center;
  margin-bottom: 30px;
}

.general-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 5px;
}

.general-row-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1%;
  align-self: center;
  margin-bottom: 5px;
  text-align: center;
  justify-content: center;
}

.live-data {
  text-align: center;
  font-weight: bold;
}

#bold {
  font-weight: bold;
}
